h1 {
  color: blue;
}

* {
  box-sizing: border-box;
}

header,
footer {
  color:blanchedalmond;
  background: black;
  width: 100%;
  border: blue solid 1px;
}

main.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}